*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.container{
    margin: 0 auto;
    width: 1000px;
}

/* hero section---- */
.hero{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

h3{
    color: rgb(246, 108, 128);
    font-weight: 550;
    padding-bottom: 1.5rem;
}

.content{
    margin-top: 1.4rem;
}

.content h1{
    font-size: 2.3rem;
    line-height: 3rem;
}

.content p{
    width: 440px;
    line-height: 1.4rem;
    font-size: .8rem;
    padding: 1.3rem 0;
}

.hero img{
   height: 450px;
   width: auto;
}

button{
    background-color: rgb(241, 71, 96);
    color: #fff;
    border: none;
    padding: .7rem .7rem;
    width: 100px;
    font-size: .75rem;
}

/* main section---- */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 7rem;
    margin-right: 2rem;
    padding-top: 2rem;
    background-color: #ddd;
    width: 1300px;
    padding: 1rem 4rem;
}

.main h3{
    padding-left: 10rem;
}

.service{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 7rem;
    margin-left: 9.6rem;
}

.service h1{
    font-size: 1.7rem;
    line-height: 3rem;
}

.service p{
    width: 450px;
    line-height: 1.3rem;
    font-size: .8rem;
}

.images{
    width: 1300px;
    margin-top: 2rem;
}

.images img{
    margin-right: .9rem;
    width: 270px;
    height: 360px;
}

.images img:last-child{
    margin-right: 0;
}

/* Popup form styles */
.popup-form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

/* services section */
.services h3{
   margin-top: 12rem; 
   text-align: center;   
}
   
.services h1{
   text-align: center;   
   margin-bottom: 2.7rem;
}

.boxes-container{
    display: flex;
}

.services img{
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.box h4{
   margin-bottom: 1rem;
}

/* projects section */
.project-container h3{
    margin-top: 9rem;
    text-align: center;
}

.project-container h1{
    text-align: center;
    margin-bottom: 1rem;
}

.projects{
    display: flex;
    gap: 3.5rem;
}

.projects img{
    width: auto;
    height: auto;
}

.content-box{
    background-color: #eee;
}
    
.box-pad{
    padding: .6rem;
    padding-bottom: 0;
}

.box-pad:first-child{
    padding-top: 1.3rem;
}

.box-pad:last-child{
    padding-top: 0rem;
}

.boxes{
    margin-bottom: 2rem;
    /* padding: 1.8rem 0 1rem 1.4rem; */
}

.boxes h4{
    margin-bottom: 1rem;
}

.boxes p{
    line-height: 1.4;
    width: 253px;
}

#pink-background{
    background-color: rgb(240, 88, 111);
    padding: 1rem;
}

/* growth section----- */
.growth-container{
    background-color: #eee;
    padding: 1rem;
    margin-top: 8rem;
    padding-bottom: 3.9rem;
}

.growth-container h3{
    text-align: center;
    margin-top: 2rem;
}

.growth-container h1,h3{
    text-align: center;
    margin-bottom: 3rem;
}

.growth{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
    
.growth-box{
    width: 190px;
    padding: 1rem;
    background-color: #fff;
}

.growth-box img{
    margin-left: 4.3rem;
    width: 30px;
    height: 50px;

}

.growth-box h3{
    font-size: 2.2rem;
    margin-top: -0.3rem;
    margin-bottom: -0.8rem;
    text-align: center;
    color: #000;
    font-weight: 300;
}

.growth-box p{
   text-align: center;
}

/* feedback section---- */
.feedback-container{
   margin-top: 7rem;
}

.feedback-container h1{
   text-align: center;
   margin-bottom: 2rem;
   margin-top: -2rem;
}

img{
    width: 40px;
    height: 20px;
}

.feedback-container p{
    width: 600px;
    /* text-align: center; */
    margin: auto;
    letter-spacing: .4px;
    margin-bottom: 1rem;
}

.feedback-container span{
    color: rgb(241, 71, 96);
}

.feedback-container h4{
    color: #bbb;
    text-align: center;
}

/* footer---- */
.footer {
    margin-top: 4rem;
    position: relative;
    /* display: inline-block; */
}

.footer img {
    width: 100%; 
    height: auto; 
}

.footer img#front {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%; 
    height: 40px; 
    transform: translate(-50%, -50%);
}


